.para{
    max-width: 500px;
}

.one{
    border:2px solid red ;
    /* max-width: 500px; */
    max-height: 300px;
    padding: 10px; 
    border-radius: 20px;
    background: aqua;
    color: #fff;
    text-align-last: center;
}
.one:hover{
    background: rgba(255, 0, 0, 0.5);
    color: #000;
}
.two{
    /* max-width: 500px; */
    border: 2px dotted black;
    background: aqua;
    text-align-last:center ;
    border-radius: 50px;
    padding: 20px;
}
.three{
    border: 2px dashed #000;
    /* max-width: 500px; */
    border-radius: 50px;
    padding: 20px;
    background: aqua;
}
.fore{
    border: 2px double #000;
    /* max-width: 500px; */
    border-radius: 50px;
    padding: 20px;
    background: aqua; 
}
